img{
	width: 100%;
	border-style: solid;
	border-color: white;
	border-radius: 10px;
	border-width: 5px;
}

body{
	width: 50%;
	margin-left: 25%;
	background-color: black;
}

h1{
	color: white;
	text-align: center;
	  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;

}
body p {
	color: white;
	text-align: center;
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}
